#editor {
    width: 100%;
    height: 500px;
}

.script-list-widget {
    .script-list-item-widget {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #999;
        margin: 0;
        text-decoration: none;
        &:hover,
        &:visited {
            background: #eee;
        }

        &.selected {
            background: #ddd;
        }
    }
}
