<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Open Furby Platform</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
        <link rel='stylesheet' href='/static/styles/styles.css' />
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
        <script data-main="static/scripts/main" src="static/scripts/require.js"></script>
        <script type="text/javascript">
            // setup google analytics account for tabula
        </script>
    </head>
    <body>
        <div class="header-container"></div>
        <div class="container-fluid"></div>
    </body>
</html>
